@model EdukateMvc.Models.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="max-width: 1000px;">

    <h1>Создать курс</h1>

    <form asp-area="Admin" asp-controller="Course" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InstructorName" class="form-label"></label>
            <input asp-for="InstructorName" class="form-control" />
            <span asp-validation-for="InstructorName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a asp-area="Admin"
           asp-controller="Course"
           asp-action="Index"
           class="btn btn-danger ms-2">Отмена</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
